<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="custom-zen-proxy.ZPM">
    <Module>
      <Name>custom-zen-proxy</Name>
      <Version>1.0.0</Version>
      <Description>Customization of ZenProxy Intersystems to be enable to send numeric attributes in String format.</Description>
      <Keywords>custom zen proxy</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="%ZEN.Utils.INC"/>
      <Resource Name="%ZEN.proxyObject.CLS"/>
    </Module>
  </Document>
</Export>